body {
	color: blue;
	background-color: pink;
	font-family: "Arial", "Apple Garamond", "Ubuntu";
	font-size: 16px;
}

p {
	text-align: left;
}

a {
	text-decoration: underline;
}

a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: red;
}