div > p {
	font-style: italic;
	color: #003300;
}
div > h1 {
	font-weight: bold;
}
#eminem {
	background-color: #996633;
}
#steve-jobs {
	background-color: #5c8a8a;
}
#jack-ma {
	background-color: #bf80ff;
}
#faker {
	background-color: #00b300;
}
div.people {
	border-bottom: 3px solid currentColor;
	padding: 10px;
	margin: 19px 0 19px 0;
	overflow: auto;
}
audio, video {
	width: 100%;
}
div.name {
	width: 20%;
	float: left;
	padding-right: 2px;
}
div.biography {
	width: 70%;
	float: right;
	padding-left: 2px;
}

.button-people {
	width: 140px;
}
#top-page {
	padding:20px;
	margin-top:30px;
}
