th, td
{
	border: 2px solid #000;
	padding: 10px 20px 10px 20px;
	margin: 5px;
}

th {
   	color: #ff4d4d;
    background-color: #fff;
}

td {
    color: #9933ff;
    background-color: #66ff66;
}

table {
	width: 100%;
}

